<div class="nosotros">

 <div layout="row" class="first">

  <div flex-gt-md="30" flex-offset-gt-md="5" flex="100" class="info-1 wow slideInLeft"   >
   <h2>
    QUIENES SOMOS
   </h2>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis, tellus id tristique bibendum, nisl arcu ullamcorper quam, ac eleifend magna quam non mi. Nulla nec lectus vehicula risus sagittis consequat vitae id urna. Phasellus mollis condimentum sapien sit amet vulputate. Maecenas faucibus, erat eget aliquam placerat, purus magna sodales justo, sed sodales lacus eros id diam. Integer suscipit cursus fermentum. Pellentesque vel egestas tellus, sed aliquam felis. Vestibulum interdum, urna rhoncus porttitor bibendum, lectus massa finibus erat, at consectetur arcu leo nec neque. Nam mollis nulla sed erat sodales finibus. In maximus semper enim sed pellentesque. Integer tempor leo id nisi faucibus, vitae tristique mi ornare. In ut venenatis mauris.
   </p>
  </div>
  <div flex-gt-md="30"  class="info-2 wow slideInDown" data-wow-delay="0.1s" >
   <h2>
    QUE HACEMOS
   </h2>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis, tellus id tristique bibendum, nisl arcu ullamcorper quam, ac eleifend magna quam non mi. Nulla nec lectus vehicula risus sagittis consequat vitae id urna. Phasellus mollis condimentum sapien sit amet vulputate. Maecenas faucibus, erat eget aliquam placerat, purus magna sodales justo, sed sodales lacus eros id diam. Integer suscipit cursus fermentum. Pellentesque vel egestas tellus, sed aliquam felis. Vestibulum interdum, urna rhoncus porttitor bibendum, lectus massa finibus erat, at consectetur arcu leo nec neque. Nam mollis nulla sed erat sodales finibus. In maximus semper enim sed pellentesque. Integer tempor leo id nisi faucibus, vitae tristique mi ornare. In ut venenatis mauris.
   </p>
  </div>
  <div flex-gt-md="30"  flex="100" class="info-3 wow slideInRight" data-wow-delay="0.2s">
   <h2>
    POR QUÉ ELEGIRNOS
   </h2>
   <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis, tellus id tristique bibendum, nisl arcu ullamcorper quam, ac eleifend magna quam non mi. Nulla nec lectus vehicula risus sagittis consequat vitae id urna. Phasellus mollis condimentum sapien sit amet vulputate. Maecenas faucibus, erat eget aliquam placerat, purus magna sodales justo, sed sodales lacus eros id diam. Integer suscipit cursus fermentum. Pellentesque vel egestas tellus, sed aliquam felis. Vestibulum interdum, urna rhoncus porttitor bibendum, lectus massa finibus erat, at consectetur arcu leo nec neque. Nam mollis nulla sed erat sodales finibus. In maximus semper enim sed pellentesque. Integer tempor leo id nisi faucibus, vitae tristique mi ornare. In ut venenatis mauris.
   </p>
  </div>
 </div>


 <div layout="row" layout-align="center" class="team">
  <div class="team-msg">
    <h1 class="msg wow slideInRight" data-wow-delay="0.1s">
     <span>CONOCENOS</span>
    </h1>
  </div>
  <div class="team-box">
   <img src="img/sofa.png" class="sofa  wow fadeIn" data-wow-delay="0.1s">
   <img src="img/suport.png" class="sofa">
  </div>

 </div>
</div>

