<div class="section ">
    <div layout="row ">
        <div  flex-xl="30" flex="auto" flex-offset-xl="20" class="section-service-item wow slideInLeft" data-wow-delay="0.1s">
            <h2>
                DESARROLLO WEB
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
        <div flex-xl="30" flex="auto" class="service-img wow slideInLeft" >
            <img src="img/web.svg">
        </div>
    </div>
    <div layout="row" >
        <div flex-xl="30" class="service-img wow slideInRight" flex-offset-xl="20"  data-wow-delay="0.2s" >
            <img src="img/mobile.svg">
        </div>
        <div flex-xl="30" flex="auto" class="section-service-item wow slideInRight" data-wow-delay="0.3s" >
            <h2>
                APLICACIONES MOVILES
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
    </div>
    <div layout="row">
        <div  flex-xl="30" flex="auto" flex-offset-xl="20" class="section-service-item wow slideInLeft" data-wow-offset="300"  data-wow-delay="0.1s">
            <h2>
                DISEÑOS
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
        <div flex-xl="30" class="service-img wow slideInLeft" data-wow-offset="300">
            <img src="img/web.svg">
        </div>
    </div>
    <div layout="row" >
        <div flex-xl="30" class="service-img wow slideInRight" flex-offset-xl="20" data-wow-offset="300">
            <img src="img/bi.svg">
        </div>
        <div flex-xl="30" flex="auto"  class="section-service-item wow slideInRight" data-wow-offset="300" data-wow-delay="0.1s">
            <h2>
                BUSINESS INTELIGENCE
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
    </div>
</div>