<div class="section">
    <div layout="row">
        <div  flex-xl="30" flex="auto" flex-offset-xl="20" class="section-service-item">
            <h2>
                DESARROLLO WEB
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
        <div flex-xl="30" flex="auto" class="service-img" >
            <img src="img/web.svg">
        </div>
    </div>
    <div layout="row" >
        <div flex-xl="30" class="service-img" flex-offset-xl="20" >
            <img src="img/mobile.svg">
        </div>
        <div flex-xl="30" flex="auto" class="section-service-item">
            <h2>
                APLICACIONES MOVILES
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
    </div>
    <div layout="row">
        <div  flex-xl="30" flex="auto" flex-offset-xl="20" class="section-service-item">
            <h2>
                DISEÑOS
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
        <div flex-xl="30" class="service-img" >
            <img src="img/web.svg">
        </div>
    </div>
    <div layout="row" >
        <div flex-xl="30" class="service-img" flex-offset-xl="20" >
            <img src="img/bi.svg">
        </div>
        <div flex-xl="30" flex="auto"  class="section-service-item">
            <h2>
                BUSINESS INTELIGENCE
            </h2>
            <p>
                We can work with you at a strategic level to understand your business, your customers and your opportunities. As well as the challenges you face in your market amongst the wider digital space. This allows us to identify and work with you in order to deliver a sustainable and flexible multi-channel digital experience            </p>
        </div>
    </div>
</div>