<<<<<<< HEAD
/*




*/
html{
-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
  height: 100% ;

  background: rgb(239,239,239); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 49%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(255,255,255,1) 49%,rgba(234,234,234,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(255,255,255,1) 49%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
.main{
  width: 100%;
  height: 100% ;
  margin: 0px;
  padding: 0px;
}
.section{
  padding-top:17vh;
}
.section-service-item{
  background-color: #1278BD;
  position: relative;
  z-index: 2;
  padding: 2.5em;
}
.service-img img{
  max-width: 500px;
  padding: 10%;
   margin: 0 auto !important;
 }

.section-service-item h2{
  color: #fff;
  font-size: 3.8em;
  line-height: 0.86em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0.5em;
  font-family: 'Montserrat', sans-serif;

}
.section-service-item p{
  padding-left: 35px;
  color: #fff;
  font-family: 'Roboto', ligth;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  color: #666;
  padding-right: 20px;
  line-height: 30px;
  text-align: center;
  z-index: 10;
}
.footer span {
  right: 5%;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  z-index: 10;
}
.header-div{
  position: relative;
  margin-top: 10px;

}
.header-div a{
  color: #2e466c !important;
  font-size: 50px;
}
.header-div a:hover{
  color: #5371a2 !important;
  font-size: 55px;
  transition: all .2s;

}
.header img{
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}
.logoBh{
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  margin-top: 20vh;
  margin-left:75vh;
}

.bh-text{
  position: absolute;
  font-family: 'Black Ops One', cursive;
  font-size: 80px;
  color:  #ffffff;
  text-shadow: 2px 2pX 10px rgba(0,0,0,0.5);

  margin-top: 40vh;
  margin-left:70vh;
}

/* //////////////////////////////////// MENU*/
@import url(https://fonts.googleapis.com/css?family=Lato:300);
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.circle-outer {
  position: fixed;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: grow-outer-circle 0.5s cubic-bezier(0.1, 1.5, 0.3, 1) forwards;
  overflow: hidden;
}
.circle-outer .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #7194cc;
  transform: translate(-50%, -50%);
}

.navigation-circle {
  position: fixed;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  animation: grow-navigation .4s linear forwards;
}

.navigation {
  overflow:hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e466c;
  display: flex;
  align-items: center;
  z-index: 20;
  top: -150vh;
  transition: top 0s .5s;
  user-select: none;
}
.navigation > ul {
  width: 60vw;
  text-align: center;
  user-select: none;
  margin: 0 auto;
  display: block;
}
.navigation > ul > li {
  display: block;
  user-select: none;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
.navigation > ul > li:nth-child(1) {
  transition-delay: .5s;
}
.navigation > ul > li:nth-child(2) {
  transition-delay: .6s;
}
.navigation > ul > li:nth-child(3) {
  transition-delay: .7s;
}
.navigation > ul > li:nth-child(4) {
  transition-delay: .8s;
}
.navigation > ul > li a {
  display: inline-block;
  color: white;
  padding: 10px 0 10px 0;
  margin-bottom: 5px;
  user-select: none;
  font-size: 30px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all .2s;
}
.navigation > ul > li a:hover {
  border-color: white;
}
.navigation .close-btn {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  appearance: none;
  box-shadow: none;
  outline: 0;
  top: 15%;
  right: 15%;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  transition: transform .4s .6s, opacity .4s .6s, background-color .25s 0s;
  cursor: pointer;
}
.navigation .close-btn:before, .navigation .close-btn:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  top: 19px;
  left: 9px;
  background-color: white;
  transition: all .25s;
}
.navigation .close-btn:before {
  transform: rotate(45deg);
}
.navigation .close-btn:after {
  transform: rotate(-45deg);
}
.navigation .close-btn:hover {
  background-color: white;
}
.navigation .close-btn:hover:before, .navigation .close-btn:hover:after {
  background-color: #32b4fa;
}
.navigation.open {
  transition: top 0s .5s;
  top: 0;
}
.navigation.open > ul > li {
  opacity: 1;
  transform: translateY(0);
}
.navigation.open .close-btn {
  opacity: 1;
}

@keyframes grow-outer-circle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}
@keyframes grow-navigation {
  0% {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    width: 6000px;
    height: 6000px;
    background-color: #7194cc;
  }
}
/* ////////////////////////////// SOCIAL*/

.c-icon {
  width:  63px;
  height: 36px;
  fill: currentColor;
  transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--google:hover    { color: #dd4b39 }
.c-link--pinterest:hover { color: #bd081c }
.c-link--instagram:hover { color: #833ab4 }
.c-link--snapchat:hover  { color: #fbe00f }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--google:hover::after    { background: #dd4b39 }
.c-link--pinterest:hover::after { background: #bd081c }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--snapchat:hover::after  { background: #fbe00f }

.c-link {
  position: relative;
  color: #bbb;
}

.c-link:not(:last-of-type) {
  margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: .2s;
}

.c-tooltip::before {
  content: '';
  bottom: calc(100% + 12px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.c-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% + 22px);
  padding: .61em .93em;
  font-size: .875rem;
  color: white;
  border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%);
}
=======
/*




*/
html{
-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
  height: 100% ;

  background: rgb(239,239,239); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 49%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(255,255,255,1) 49%,rgba(234,234,234,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(255,255,255,1) 49%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}
.main{
  width: 100%;
  height: 100% ;
  margin: 0px;
  padding: 0px;
}
.section{
  padding-top:17vh;
}
.section-service-item{
  background-color: #1278BD;
  position: relative;
  z-index: 2;
  padding: 2.5em;
}
.service-img img{
  max-width: 500px;
  padding: 10%;
   margin: 0 auto !important;
 }

.section-service-item h2{
  color: #fff;
  font-size: 3.8em;
  line-height: 0.86em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0.5em;
  font-family: 'Montserrat', sans-serif;

}
.section-service-item p{
  padding-left: 35px;
  color: #fff;
  font-family: 'Roboto', ligth;
}

.footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  color: #666;
  padding-right: 20px;
  line-height: 30px;
  text-align: center;
  z-index: 10;
}
.footer span {
  right: 5%;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  z-index: 10;
}
.header-div{
  position: relative;
  margin-top: 10px;

}
.header-div a{
  color: #2e466c !important;
  font-size: 50px;
}
.header-div a:hover{
  color: #5371a2 !important;
  font-size: 55px;
  transition: all .2s;

}
.header img{
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}
.logoBh{
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  margin-top: 20vh;
  margin-left:75vh;
}

.bh-text{
  position: absolute;
  font-family: 'Black Ops One', cursive;
  font-size: 80px;
  color:  #ffffff;
  text-shadow: 2px 2pX 10px rgba(0,0,0,0.5);

  margin-top: 40vh;
  margin-left:70vh;
}

/* //////////////////////////////////// MENU*/
@import url(https://fonts.googleapis.com/css?family=Lato:300);
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.circle-outer {
  position: fixed;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: grow-outer-circle 0.5s cubic-bezier(0.1, 1.5, 0.3, 1) forwards;
  overflow: hidden;
}
.circle-outer .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #7194cc;
  transform: translate(-50%, -50%);
}

.navigation-circle {
  position: fixed;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  animation: grow-navigation .4s linear forwards;
}

.navigation {
  overflow:hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e466c;
  display: flex;
  align-items: center;
  z-index: 20;
  top: -150vh;
  transition: top 0s .5s;
  user-select: none;
}
.navigation > ul {
  width: 60vw;
  text-align: center;
  user-select: none;
  margin: 0 auto;
  display: block;
}
.navigation > ul > li {
  display: block;
  user-select: none;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
.navigation > ul > li:nth-child(1) {
  transition-delay: .5s;
}
.navigation > ul > li:nth-child(2) {
  transition-delay: .6s;
}
.navigation > ul > li:nth-child(3) {
  transition-delay: .7s;
}
.navigation > ul > li:nth-child(4) {
  transition-delay: .8s;
}
.navigation > ul > li a {
  display: inline-block;
  color: white;
  padding: 10px 0 10px 0;
  margin-bottom: 5px;
  user-select: none;
  font-size: 30px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all .2s;
}
.navigation > ul > li a:hover {
  border-color: white;
}
.navigation .close-btn {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  appearance: none;
  box-shadow: none;
  outline: 0;
  top: 15%;
  right: 15%;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  transition: transform .4s .6s, opacity .4s .6s, background-color .25s 0s;
  cursor: pointer;
}
.navigation .close-btn:before, .navigation .close-btn:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  top: 19px;
  left: 9px;
  background-color: white;
  transition: all .25s;
}
.navigation .close-btn:before {
  transform: rotate(45deg);
}
.navigation .close-btn:after {
  transform: rotate(-45deg);
}
.navigation .close-btn:hover {
  background-color: white;
}
.navigation .close-btn:hover:before, .navigation .close-btn:hover:after {
  background-color: #32b4fa;
}
.navigation.open {
  transition: top 0s .5s;
  top: 0;
}
.navigation.open > ul > li {
  opacity: 1;
  transform: translateY(0);
}
.navigation.open .close-btn {
  opacity: 1;
}

@keyframes grow-outer-circle {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}
@keyframes grow-navigation {
  0% {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    width: 6000px;
    height: 6000px;
    background-color: #7194cc;
  }
}
/* ////////////////////////////// SOCIAL*/

.c-icon {
  width:  63px;
  height: 36px;
  fill: currentColor;
  transition: .2s;
}

.c-link--facebook:hover  { color: #3b5998 }
.c-link--twitter:hover   { color: #55acee }
.c-link--google:hover    { color: #dd4b39 }
.c-link--pinterest:hover { color: #bd081c }
.c-link--instagram:hover { color: #833ab4 }
.c-link--snapchat:hover  { color: #fbe00f }
.c-link--facebook:hover::after  { background: #3b5998 }
.c-link--twitter:hover::after   { background: #55acee }
.c-link--google:hover::after    { background: #dd4b39 }
.c-link--pinterest:hover::after { background: #bd081c }
.c-link--instagram:hover::after { background: #833ab4 }
.c-link--snapchat:hover::after  { background: #fbe00f }

.c-link {
  position: relative;
  color: #bbb;
}

.c-link:not(:last-of-type) {
  margin-right: 15px;
}

.c-tooltip::before,
.c-tooltip::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: .2s;
}

.c-tooltip::before {
  content: '';
  bottom: calc(100% + 12px);
  border: solid 5px transparent;
  border-top-color: currentColor;
}

.c-tooltip::after {
  content: attr(aria-label);
  bottom: calc(100% + 22px);
  padding: .61em .93em;
  font-size: .875rem;
  color: white;
  border-radius: 3px;
}

.c-tooltip:hover::before,
.c-tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%);
}
>>>>>>> origin/master
