.nosotros{
   padding-top: 15vh;


}
.nosotros .first{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
.nosotros .info-1, .nosotros .info-2, .nosotros .info-3{
    position: relative;
    background-color: #1278BD;
    min-height: 450px;
    height: 100%;
    padding: 2.5em;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right:10px;
}

.nosotros  h2{
    color: #fff;
    font-size: 3.5em;
    line-height: 0.86em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0.5em;
    font-family: 'Montserrat', sans-serif;
}
.nosotros  p{
    padding-left: 35px;
    color: #fff;
    font-family: 'Roboto', ligth;
}
.nosotros .info-2{
    margin-top:15%;
    background-color: transparent;
}
.nosotros .info-3{
    margin-top:25%;
}
.nosotros .info-2  h2{
    color: #1278BD;
    font-size: 3.5em;
    line-height: 0.86em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0.5em;
    font-family: 'Montserrat', sans-serif;
}
.nosotros .info-2  p{
    padding-left: 35px;
    color: #1278BD;
    font-family: 'Roboto', ligth;
}
.team-tittle h2{
    margin-top:5%;
    color: #1278BD;
    font-size: 3.8em;
    line-height: 0.86em;
    font-weight: bold;
    text-transform: uppercase;
}
.team{
    position: relative;
}
.team-msg {
    color: #1278BD;
    position: absolute;
    z-index: 5;
    font-size: 3.5em;
    top: 80%;
    right: 1%;
    font-family: 'Raleway';
    font-weight: 800;
}
.team-box{
    height: 100vh;
    width: 100%;
    background: url("../img/team-bg.jpg") center center no-repeat;
}
.team-box .sofa{
    position: absolute;
    display: block;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50% -50%);
    z-index:3;
}